<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{companyName}}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="./bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="./dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="./dist/css/skins/_all-skins.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="./bower_components/select2/dist/css/select2.min.css">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
  

 <!-- Iniciliaza variables booleans permisos -->
  {% set checklist = false %}
  {% set vehiclelist = false %}
  {% set peoplelist = false %}

  <!-- Ciclo que recorre el vector con los permisos de ese usuario -->
  {% for permission in arrayPermissions %}
    {% if permission == 'checklist' %}
      {% set checklist = true %}
    {% endif %}
    {% if permission == 'vehiclelist' %}
      {% set vehiclelist = true %}
    {% endif %}
    {% if permission == 'peoplelist' %}
      {% set peoplelist = true %}
    {% endif %}
  {% endfor %}
  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="./" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>AV</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>{{companyName}}</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="./dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ userName }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="./dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  {{ userName }}
                  <small>{{ userRol }}</small>
                </p>
              </li>
              <!-- Menu Footer Del perfil de usuario-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="./logout" class="btn btn-default btn-flat">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </li>



          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" ><i class="fa fa-gears"></i></a>
          </li>
          <!-- Boton superior derecho Configuracion  -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="./dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ userName }}</p>
          <a href="./"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU DE ADMINISTRACION</li>
        <li>
          <a href="./">
            <i class="fa fa-home"></i> <span>Escritorio</span>
          </a>
        </li>
        {% if checklist %}
          <li>
            <a href="./checklist">
              <i class="fa fa-check"></i> <span>Alistamientos</span>
            </a>
          </li>
        {% endif %}
        {% if vehiclelist %}
        <li>
          <a href="./vehiclelist">
            <i class="fa fa-car"></i> <span>Vehículos</span>
          </a>
        </li>
        {% endif %}

        <li>
          <a href="#">
            <i class="fa fa-steam"></i> <span>Manteniemientos</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="fa fa-list"></i> <span>Accidentes/Incidentes</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="fa fa-clipboard"></i> <span>Comparendos</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="fa fa-gear"></i> <span>Talleres</span>
          </a>
        </li>
        {% if peoplelist %}
        <li>
          <a href="./peoplelist">
            <i class="fa fa-user"></i> <span>Personas</span>
          </a>
        </li>
        {% endif %}

        <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Mantenimientos por vehiculo</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Documentos vencidos</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Documentos proximos a vencer</a></li>
          </ul>
        </li>
        
        <li class="header">Configuracion</li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gear"></i> <span>Persona</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="./rhlist"><i class="fa fa-circle-o text-blue"></i>Rh</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Genero</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Estado civil</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Nivel educativo</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Tipo Documento</a></li>
          </ul>
        </li>
        
        <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>Documentos vehiculos</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>Alistamientos</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-blue"></i> <span>Mantenimientos / Actividades</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>




  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
  </div>





  <!-- FOOTER.... -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>MAV</b>
    </div>
    <strong>Copyright &copy; 2019 <a href="https://api.whatsapp.com/send?phone=573172891700&text=Quieres%20mas%20informacion%20del%20software%20de%20calzado?" target="_blank">SSOFTRANS</a>.</strong> All rights
    reserved.
  </footer>
  
</div>
<!-- ./wrapper -->
<!-- Morris.js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<!-- jQuery 3 -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="./bower_components/fastclick/lib/fastclick.js"></script>
<!-- Select2 -->
<script src="./bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="./dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="./dist/js/demo.js"></script>
<!-- Page script -->
<script type="text/javascript">
new Morris.Line({
  element: 'morrisLine1',
  data: [
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Accidentes', 'Incidentes'],
  barColors: ['#5058AB', '#14A0C1'],
  gridTextSize: 11,
  hideHover: 'auto',
  resize: true
});
</script>

</body>
</html>