{% extends "layout.twig" %} 

{% block content %}

<h1>
    Personas
    <small>Listado</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./peoplelist">Personas</a></li>
    <li class="active">Listado</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listado de personas </h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
       <form action="peopledel" method="post" role="form">
        <table class="table table-bordered" >
          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 100px">Tipo/Doc</th>
            <th style="width: 100px">Documento</th>
            <th style="width: 100px">Nombre</th>
            <th style="width: 100px">Apellido</th>
            <th style="width: 100px">Rh</th>
            <th style="width: 100px">Celular</th>
          </tr>
          {% for persona in personas %}
          <tr>
              <td>
                <input type="radio" name="id" value="{{ persona.id }}">
              </td>
              <td>{{ persona.tiposdocumento }}</td>
              <td>{{ persona.numerodocumento }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.rh }}</td>
              <td>{{ persona.celular }}</td>
          </tr>
          {% endfor %}
        </table>


        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% for i in 1..numeroDePaginas %}
              {% if paginaActual == i %}
                <li class="page-item active"><a class="page-link" href="./modellist?pag={{i}}">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="./modellist?pag={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>


        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {% if registrationErrorMessage %} Se presentaron los siguientes errores, por favor corríjalos: <br> {% endif %}
          {% for errorMessage in registrationErrorMessage %} 
            {% if errorMessage %} <br> {{ errorMessage }}  {% endif %} 
          {% endfor %}
        </div>
        <div class="box-footer">
          <button type="submit" name="boton" value="del" class="btn btn-primary" >Eliminar</button>
          <button type="submit" name="boton" value="upd" class="btn btn-primary">Editar</button>
        </div>
       </form>
       <div class="box-footer">
       <form action="peopleadd" method="get">
        <button type="submit" class="btn btn-primary">Agregar</button>
       </form>
       
       </div>
      </div>
      <!-- /.box-body -->
      </div>
    </div>
    

{% endblock %}
