{% extends "layout.twig" %} 

{% block content %}

<h1>
    Personas-Vehículo
    <small>Listado/Búsqueda</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./vehiclelist">Vehículo</a></li>
    <li><a href="./vehiclepeoplelist??={{idVeh}}">Personas-Vehículo</a></li>
    <li class="active">Listado</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Personas-Vehículo: {{vehiculo.placa}} - {{vehiculo.interno}}</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        {% set btnAdd = false %}
        {% set btnUpd = false %}
        {% set btnDel = false %}

       {% for permission in arrayPermissions %}
        {% if permission == 'vehiclepeopleadd' %}
          {% set btnAdd = true %}
        {% endif %}
        {% if permission == 'vehiclepeopleupdate' %}
          {% set btnUpd = true %}
        {% endif %}
        {% if permission == 'vehiclepeopledel' %}
          {% set btnDel = true %}
        {% endif %}
      {% endfor %}
     </div>
      <!-- /.box-header -->
      <div class="box-body">
       <form action="vehiclepeopledel" method="post" role="form">
        <div class="table-responsive">
        <table class="table table-striped table-sm" >
          <tr>
            <th style="width: 100px"># Documento</th>
            <th style="width: 120px">Nombre</th>
            <th style="width: 100px">Apellido</th>
            <th style="width: 100px">Celular</th>
            <th style="width: 100px">Rol</th>
            {% if btnUpd or btnDel %}
              <th style="width: 120px">Acción</th>
            {% endif %}
          </tr>
          <input type="hidden" name="idVeh" value="{{idVeh}}">
          {% set ciclo = false %}
          {% for persona in documentos %}
          <tr>
              <td>{{ persona.numerodocumento }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.celular }}</td>
              <td>{{ persona.rol }}</td>
              {% if btnUpd or btnDel %}
                <td>
                  {% if btnUpd %}
                    <button type="submit" class="btn btn-success" value="upd|{{ persona.id }}" name="btnDelUpd"><i class="fa fa-edit"></i></button>
                  {% endif %}
                  {% if btnDel %}
                    <button type="submit" class="btn btn-danger" value="del|{{ persona.id }}" name="btnDelUpd"><i class="fa fa-edit"></i></button>
                  {% endif %}
                </td>
              {% endif %}
          </tr>
          {% set ciclo = true %}
          {% endfor %}
          {% if ciclo == false %}
            <tr>
              <td colspan=8>
                <div class="alert alert-danger" style="font-size:17px;">
                  No se encontraron datos
                </div>
              </td>
            </tr>
          {% endif %}

          {% if registrationErrorMessage %}
            <tr>
              <td colspan=8>
                <div class="alert alert-danger" style="font-size:17px;">
                  Se presentaron los siguientes errores, por favor corríjalos: <br>
                  {% for errorMessage in registrationErrorMessage %} 
                    {% if errorMessage %} <br> {{ errorMessage }}  {% endif %} 
                  {% endfor %}
                </div>
              </td>
            </tr>
          {% else %}
            {% if responseMessage %}
              <tr>
                <td colspan=8>
                  <div class="alert alert-danger" style="font-size:17px;">
                    {{ responseMessage }}
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endif %}
          
        </table>
      </div>

      <div class="row">
        <div class="form-group col-md-12" style="padding-left: 25px;">
          {% if btnAdd %}
            <a type="button" class="btn btn-primary" href="./vehiclepeopleadd??={{idVeh}}">Agregar</a>
          {% endif %}
        </div>
      </div>

        {% if numeroDePaginas%}
          {% if numeroDePaginas > 1 %}
            <nav aria-label="Page navigation example">
              <ul class="pagination" style="padding-left: 10px;">
                {% for i in 1..numeroDePaginas %}
                  {% if paginaActual == i %}
                    <li class="page-item active"><a class="page-link" href="./vehiclepeoplelist??={{idVeh}}&pag={{i}}">{{i}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="./vehiclepeoplelist??={{idVeh}}&pag={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        {% endif %}



       </form>
      </div>
      <!-- /.box-body -->
      </div>
    </div>
    

{% endblock %}
