{% extends "layout.twig" %} 

{% block content %}

<h1>
    Vehículos
    <small>Listado</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./vehiclelist">Vehiculos</a></li>
    <li class="active">Listado</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
     <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Buscar vehiculos</h3>
      </div>
      <div class="box-body">
        {% set btnAdd = false %}
        {% set btnUpd = false %}
        {% set btnDel = false %}
        {% set btnDocumentos = false %}
        {% set btnPersonas = false %}

       {% for permission in arrayPermissions %}
        {% if permission == 'vehicleadd' %}
          {% set btnAdd = true %}
        {% endif %}
        {% if permission == 'vehicleupdate' %}
          {% set btnUpd = true %}
        {% endif %}
        {% if permission == 'vehicledel' %}
          {% set btnDel = true %}
        {% endif %}
        {% if permission == 'vehicledoclist' %}
          {% set btnDocumentos = true %}
        {% endif %}
        {% if permission == 'vehiclepeoplelist' %}
          {% set btnPersonas = true %}
        {% endif %}
      {% endfor %}
       <form action="vehiclesearch" method="post" role="form">
          <div class="row" style="padding-left: 15px;">
            <div class="form-group col-xs-6 col-sm-4 col-md-4">
              <label>Buscar:</label>
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-4">
              <label>Por:</label>
            </div>
          </div>
          <div class="row" style="padding-left: 15px;">
          <div class="form-group col-xs-6 col-sm-4 col-md-4">
            <input type="text" name="textBuscar" class="form-control" placeholder="Que desea buscar" maxlength="50" required>
          </div>
          <div class="form-group col-xs-6 col-sm-4 col-md-4">
            
            <select class="form-control select-picker" name="criterio">
              <option value="1">Placa</option>
              <option value="2">Número interno</option>
              <option value="3">Licencia de tránsito</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-sm-4 col-md-4">
              <button type="submit" name="btnBuscar" class="btn btn-primary" >Buscar</button>
              {% if btnAdd %}
                <a type="button" class="btn btn-primary" href="./vehicleadd">Agregar</a>
              {% endif %}
          </div>
        </div>
       </form>
     </div>
     <hr noshade="noshade" size="4" width="95%" />
      <!-- /.box-header -->
      <div class="box-body">
       <form action="vehicledel" method="post" role="form">
        <div class="table-responsive">
          <table class="table table-striped table-sm" >

          <tr>
            <th style="width: 10px">#</th>
            <th style="width: 100px">Placa</th>
            <th style="width: 70px">Interno</th>
            <th style="width: 50px">Capacidad</th>
            <th style="width: 100px">Servicio</th>
            <th style="width: 70px">Modelo</th>
            <th style="width: 100px">Vinculación</th>
            {% if btnUpd or btnDel %}
              <th style="width: 130px">Acción</th>
            {% endif %}
          </tr>
          {% set ciclo = false %}
          {% for vehiculo in query %}
          <tr>
              <input type="hidden" name="ruta" value="listar">
              <td><input type="radio" name="id" value="{{ vehiculo.id }}"></td>
              <td>{{ vehiculo.placa }}</td>
              <td>{{ vehiculo.interno }}</td>
              <td>{{ vehiculo.capacidad }}</td>
              <td>{{ vehiculo.servicio }}</td>
              <td>{{ vehiculo.modelo }}</td>
              <td>{{ vehiculo.vinculacion }}</td>
              {% if btnUpd or btnDel %}
                <td>
                  {% if btnUpd %}
                    <button type="submit" class="btn btn-success" formaction="vehicleupd" value="{{ vehiculo.id }}" name="btnDelUpd"><i class="fa fa-edit"></i></button>
                  {% endif %}
                  {% if btnDel %}
                    <button type="submit" class="btn btn-danger" value="{{ vehiculo.id }}" name="btnDelUpd"><i class="fa fa-edit"></i></button>
                  {% endif %}
                </td>
              {% endif %}
          </tr>
          {% set ciclo = true %}
          {% endfor %}
          {% if ciclo == false %}
            <tr>
              <td colspan=8>
                <div class="alert alert-danger" style="font-size:17px;">
                  No se encontraron datos
                  {% if queryErrorMessage %}
                    {% for errorMessage in queryErrorMessage %} 
                      {% if errorMessage %} <br> {{ errorMessage }}  {% endif %} 
                    {% endfor %}
                  {% else %}
                    {% if prevMessage %}
                      {{ prevMessage }}
                    {% endif %}
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endif %}

          {% if registrationErrorMessage %}
            <tr>
              <td colspan=8>
                <div class="alert alert-danger" style="font-size:17px;">
                  Se presentaron los siguientes errores, por favor corríjalos: <br>
                  {% for errorMessage in registrationErrorMessage %} 
                    {% if errorMessage %} <br> {{ errorMessage }}  {% endif %} 
                  {% endfor %}
                </div>
              </td>
            </tr>
          {% else %}
            {% if responseMessage %}
              <tr>
                <td colspan=8>
                  <div class="alert alert-danger" style="font-size:17px;">
                    {{ responseMessage }}
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endif %}
          
        </table>
      </div>

        <div class="row">
          <div class="form-group col-md-12" style="padding-left: 25px;">

            {% if btnDocumentos %}
              <button type="submit" name="btnDocumentos" formaction="vehicledoclist" value="doc" class="btn btn-primary">Documentos</button>
            {% endif %}
            {% if btnPersonas %}
              <button type="submit" name="btnDocumentos" formaction="vehiclepeoplelist" value="per" class="btn btn-primary">Personas</button>
            {% endif %}
          </div>
        </div>

        {% if numeroDePaginas%}
          {% if numeroDePaginas > 1 %}
            <nav aria-label="Page navigation example">
              <ul class="pagination" style="padding-left: 10px;">
                {% for i in 1..numeroDePaginas %}
                  {% if paginaActual == i %}
                    <li class="page-item active"><a class="page-link" href="./vehiclelist?pag={{i}}">{{i}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="./vehiclelist?pag={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        {% else %}
          {% if numeroDePaginasBusqueda > 1 %}
            <nav aria-label="Page navigation example">
              <ul class="pagination" style="padding-left: 10px;">
                {% for i in 1..numeroDePaginasBusqueda %}
                  {% if paginaActual == i %}
                    <li class="page-item active"><a class="page-link" href="./vehiclesearch?pag={{i}}&?={{criterio}}&??={{textBuscar}}">{{i}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="./vehiclesearch?pag={{i}}&?={{criterio}}&??={{textBuscar}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}  
        {% endif %}

       </form>
      </div>
      <!-- /.box-body -->
      </div>
    </div>
    

{% endblock %}
